* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  background-color: darkcyan;
  color: aliceblue;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.lista {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 30vh;
  padding: 1%;
}
.itens {
  padding-top: 4%;
  padding-left: 10%;
}
