@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    color: rgb(30, 94, 40);
    font-family: verdana;
    min-height: 100vh;
    height: 100%;
    background-color: #f4e1a6;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

main {
    padding: 3% 5%;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

h2 {
    margin: 0;
    font-size: 1.3em;
}

h3 {
    margin: 0;
    font-size: 1em;
}

footer {
    background-color: #fefefe;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}


.navbar {
    display: flex;
    align-items: center;
}

.navbar li a {
    color: rgb(30, 94, 40);
    font-weight: bold;
    text-decoration: none;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
}

.titulo_destaque {
    margin: 20px 0;
}

.card {
    display: flex;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    height: 30vh;
    display: flex;
    flex: 3;
    justify-content: space-between;
    overflow: hidden;
}

.card-img img {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em 0 0 1em;
}

.evento_principal {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.titulo_evento {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descricao_evento_principal {
    font-size: 1rem;
    margin: 0;
}

.menu ul {
    display: inline-block;
    list-style: none;
}

.menu li {
    display: inline-block;
}

.card-info {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 30px;
}

.card-info-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_eventos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.lista_eventos .card {
    width: 31%;
    flex-direction: column;
}

.lista_eventos img {
    border-radius: 1em 1em 0 0;
}

.lista_eventos h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quem_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(146, 211, 239);
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    gap: 25px;
}

.input-form,
.textarea-form {
    display: flex;
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 0.5px solid #909497;
    font-family: inherit;
    font-size: inherit;
}

.textarea-form:focus,
.input-form:focus {
    outline: none;
}

.form-button {
    display: flex;
    justify-content: flex-end;
}

.button-send {
    border: 1px solid #17202a;
    width: 100%;
    padding: 25px;
    background-color: #f59634;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {

    /* Muda o menu para 1 item por linha */
    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Diminui o padding da tag main */
    main {
        padding: 3% 2%;
    }

    /* Muda a direção do evento principal para que fique a descrição abaixo da imagem */
    .card {
        flex-direction: column;
    }

    /* Ajusta border-radius da imagem para ficar correta quando a direction é column */
    .card-img img {
        border-radius: 1em 1em 0 0;
    }

    /* Muda a direção dos cards para serem um por linha */
    .lista_eventos {
        flex-direction: column;
    }

    /* Muda o tamanho do card dos eventos para ocupar todo o espaço disponível */
    .lista_eventos .card {
        width: 100%;
    }
}