* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: black;
    color: aliceblue;
    display: flex;
    font-family: verdana;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}