.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 24px;
}

ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
}