.filtroSecao {
    padding: 20px 40px;
    display: flex;
    background-color: #181717;
    color: #37b000;
    gap: 10px;
    color: #37b000;
    opacity: 0.8;
  }
  
  .titleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  button{
    background-color: #181717;
    color:#37b000;
    border: none;
    font-size: 1.5rem;
  }